<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="ELMAH_Viewer.Configuration.SettingsSection, ELMAH-Viewer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <settings>
    <sources location="Sources" />
    <savedConnections>
      <connection name="SQL Express" provider="97d260c7-e5ad-4885-89ba-88abcc8673d4"><![CDATA[testing]]></connection>
      <connection name="SQL Express 2" provider="97d260c7-e5ad-4885-89ba-88abcc8673d4"><![CDATA[testing]]></connection>
    </savedConnections>
  </settings>
</configuration>