<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="settings" type="ELMAH_Viewer.Configuration.SettingsSection, ELMAH-Viewer" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <settings>
    <sources location="Sources" />
    <savedConnections>
      <connection name="SQL Express"><![CDATA[testing]]></connection>
    </savedConnections>
  </settings>
</configuration>